# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
1. List popular languages for Data Science
2. List commonly libraries for Data Science
3. Table of Data Science tools
4. Exaples of arithmetic expressions in python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Plotly
3. TensorFlow

|Data Science Tools|
-----------------------------
|Jupyter Notebook|
|Anaconda|
|Hadoop|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
print(200/60, "hours")

3.3333333333333335 hours

## Author
Tugarev Stansilav